form.box(action='/login', method='post')
  h1 Doongs Diary
  h2 Login
  input(type='text', name='username', placeholder='User ID')
  input(type='password', name='password', placeholder='Password')
  input(type='submit', name='login', value='Login') 

