form.box(action='/register', method='post')
  h1 Doongs Diary
  h2 Sign up
  input(type='text', name='username', placeholder='User ID')
  input(type='text', name='fullname', placeholder='User Name')
  input(type='password', name='password', placeholder='Password')
  input(type='password', name='password-confirm', placeholder='Confirm-password')
  input(type='submit', name='register', value='Submit')
